{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  ;; Logging
  com.taoensso/timbre {:mvn/version "6.0.4"}

  ;; Schemas and type checking
  metosin/malli {:mvn/version "0.10.1"}

  ;; System and state management
  mount/mount {:mvn/version "0.1.17"}

  ;; AWS
  ; com.cognitect.aws/api {:mvn/version "0.8.641"}
  ; com.cognitect.aws/endpoints {:mvn/version "1.1.12.398"}
  ; com.cognitect.aws/secretsmanager {:mvn/version "835.2.1307.0", :aws/serviceFullName "AWS Secrets Manager"}
  ; com.cognitect.aws/iot {:mvn/version "835.2.1307.0", :aws/serviceFullName "AWS IoT"}

  ;; JSON
  ; metosin/jsonista {:mvn/version "0.3.7"}

  ;; Time
  ; clojure.java-time/clojure.java-time {:mvn/version "1.2.0"}

  ;; HTTP
  ; hato/hato {:mvn/version "0.9.0"}
  }

 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.78.1249"}
                      nubank/matcher-combinators {:mvn/version "3.8.3"}}
         :main-opts ["-m" "kaocha.runner"]}
  :repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}
                      djblue/portal {:mvn/version "0.35.1"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.4"}}}
  :outdated {:deps {com.github.liquidz/antq {:mvn/version "2.2.999"}}
             :main-opts ["-m" "antq.core"]}
  :format {:deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
           :main-opts ["-m" "cljfmt.main" "fix"]}}}
